<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {# SEO optimization #}
        <meta property="og:type" content="website">
        <meta property="og:title" content="Cookfy - Experimente suas receitas preferidas.">
        <meta property="og:description" content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">
        <meta property="og:image" content="https://cookfy.com/images/og-image.png">
        <meta property="og:url" content="https://cookfy.com.br">
        <meta name="description" content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">

        {# general head settings #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cookfy - Experimente suas receitas preferidas.</title>
        <link rel="stylesheet" href="styles/main.css">

    </head>

    <body>
        <header>
            <img class="cookfy-logo" src="/assets/Logo_Cookfy.svg" alt="Cookfy Logo">
            <div class="input-wrapper">
                <div class="input-background">
                    <input type="text" placeholder="Pesquise alguma receita">
                    <button class="search-button" type="submit"><img src="/assets/Lupa.svg" alt="Search Button"></button>
                </div>
            </div>
            <div class="profile-box">
                <p class="profile-name">{{result.name.first}}</p>
                <div class="avatar-background">
                    <img src="/assets/Avatar_feminino.svg" alt="Profile Avatar">
                </div>
            </div>
        </header>

        <section class="introduction"></section>

        <section class="content">
            <div>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
            </div>
        </section>

        <footer>
            <div class="footer-box">
                <div class="copy-box">
                    <img class="cookfy-logo" src="/assets/Logo_Cookfy.svg" alt="">
                    <p>©2020 Cookfy
                    </p>
                </div>

                <div class="social-media-box">
                    <a href="https://facebook.com">
                        <span class="icon facebook-icon"></span></a>

                    <a href="https://instagram.com">
                        <span class="icon instagram-icon"></span></a>

                    <a href="https://twitter.com">
                        <span class="icon twitter-icon"></span></a>

                    <a href="https://linkedin.com">
                        <span class="icon linkedin-icon"></span></a>

                    <a href="https://pinterest.com">
                        <span class="icon pinterest-icon"></span></a>
                </div>
            </div>
        </footer>

        <div class="profile-modal">
            <div class="profile-modal-box">
                <div class="close-button">
                    <img src="../assets/fechar.svg " alt="Botão Fechar">
                    <p>Fechar</p>
                </div>
                <p>avatar e nome</p>
                <p>email</p>
                <p>telefone</p>

                <h1>plano mensal</h1>
                <h2>assinar plano anual</h2>

                <p>reportar bug</p>
                <p>alterar senha</p>
                <p>sair</p>
            </div>
        </div>

        <script src="scripts/script.js"></script>
    </body>

</html>