<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {# SEO optimization #}
        <meta property="og:type" content="website">
        <meta property="og:title" content="Cookfy - Experimente suas receitas preferidas.">
        <meta property="og:description" content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">
        <meta property="og:image" content="https://cookfy.com/images/og-image.png">
        <meta property="og:url" content="https://cookfy.com.br">
        <meta name="description" content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">

        {# general head settings #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cookfy - Experimente suas receitas preferidas.</title>
        <link rel="stylesheet" href="styles/main.css">

    </head>

    <body>
        <header>
            <a href="/"><img class="cookfy-logo" src="/assets/Logo_Cookfy.svg" alt="Cookfy Logo"></a>
            <div class="input-wrapper">
                <div class="input-background">
                    <input type="text" placeholder="Pesquise alguma receita">
                    <button class="search-button" type="submit"><img src="/assets/Lupa.svg" alt="Search Button"></button>
                </div>
            </div>
            <div class="profile-box">
                <p class="profile-name">{{result.name.first}}</p>
                <div class="avatar-background">
                    <img src="/assets/Avatar_feminino.svg" alt="Profile Avatar">
                </div>
            </div>
        </header>

        <section class="introduction"></section>

        <section class="content">
            <div>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
                <p>content test</p>
            </div>
        </section>

        <footer>
            <div class="footer-box">
                <div class="copy-box">
                    <img class="cookfy-logo" src="/assets/Logo_Cookfy.svg" alt="">
                    <p>©2020 Cookfy
                    </p>
                </div>

                <div class="social-media-box">
                    <a href="https://facebook.com" target="_blank">
                        <span class="icon facebook-icon"></span></a>

                    <a href="https://instagram.com" target="_blank">
                        <span class="icon instagram-icon"></span></a>

                    <a href="https://twitter.com" target="_blank">
                        <span class="icon twitter-icon"></span></a>

                    <a href="https://linkedin.com" target="_blank">
                        <span class="icon linkedin-icon"></span></a>

                    <a href="https://pinterest.com" target="_blank">
                        <span class="icon pinterest-icon"></span></a>
                </div>
            </div>
        </footer>

        <div class="profile-modal active">
            <div class="profile-modal-box">
                <div class="close-button">
                    <img src="../assets/fechar.svg " alt="Botão Fechar">
                    <p>Fechar</p>
                </div>

                <div class="avatar-name-box">
                    <div class="avatar-background">
                        <img src="../assets/Avatar_feminino.svg" alt="">
                    </div>

                    <h3 class="full-name">
                        {{ result.name.first }}
                        {{ result.name.last }}
                    </h3>
                </div>

                <div class="email-box">
                    <img src="../assets/email.svg" alt="">
                    <p>{{ result.email }}</p>
                </div>

                <div class="phone-box">
                    <img src="../assets/telefone.svg" alt="">
                    <p>{{ result.phone }}</p>
                </div>

                <div class="plan-box">
                    <h2>Plano mensal</h2>
                    <p>16 dias restantes</p>
                </div>

                <div class="time-bar-box">
                    <div class="time-bar-background">
                        <div class="time-bar"></div>
                    </div>
                </div>

                <a href="/">
                    <div class="call-to-action">
                        <h3>Assinar plano anual</h3>
                    </div>
                </a>

                <div class="profile-options">
                    <img src="../assets/bug.svg" alt="">
                    <a href="/">Reportar bug</a>

                </div>

                <div class="profile-options">
                    <img src="../assets/senha.svg" alt="">
                    <a href="/">Alterar senha</a>

                </div>

                <div class="profile-options">
                    <img src="../assets/sair.svg" alt="">
                    <a href="/">Sair</a>
                </div>

            </div>
        </div>

        <script src="scripts/script.js"></script>
    </body>

</html>