<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {# SEO optimization #}
        <meta property="og:type" content="website">
        <meta property="og:title" content="Cookfy - Experimente suas receitas preferidas.">
        <meta property="og:description" content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">
        <meta property="og:image" content="https://cookfy.com/images/og-image.png">
        <meta property="og:url" content="https://cookfy.com.br">
        <meta name="description" content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">

        {# general head settings #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cookfy - Experimente suas receitas preferidas.</title>
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/index.css">

    </head>

    <body>
        <header>
            <a href="/"><img class="cookfy-logo" src="/assets/Logo_Cookfy.svg" alt="Cookfy Logo"></a>
            <div class="input-wrapper">
                <form class="input-background" action="">
                    <input type="text" placeholder="Pesquise alguma receita">
                    <button class="search-button" type="submit"><img src="/assets/Lupa.svg" alt="Search Button"></button>
                </form>
            </div>

            <div class="profile-box">
                <p class="profile-name">{{result.name.first}}</p>
                <div class="avatar-background">
                    {%if result.gender == 'female'%}
                        <img src="../assets/Avatar_feminino.svg" alt="Avatar">
                    {%else%}
                        <img src="../assets/Avatar_masculino.svg" alt="Avatar">
                    {%endif%}
                </div>
            </div>
        </header>

        <section class="introduction">
            <div></div>
            <h1>Bem vindo</h1>
        </section>
                
        <div class="content">

            <div class="left-background">
                <div class="pink-balls">
                    <img src="../assets/elemento_4.svg" draggable="false" alt="">
                </div>
            </div>
            
            <section>
                <div class="title1">
                    <h1>Experimente alguma das últimas receitas</h1>
                </div>

                <div class="recipe1">

                    <img class="picture" src="../images/sandwich.jpg" alt="Imagem sanduíche">

                    <div class="text-box1">
                        <p class="pink-color">Adicionado Ontem</p>
                        <h2>Sanduíche de tomate com salada de ovos</h2>
                        <div class="difficult">
                            <p class="pink-color">Fácil</p>
                            <div class="stars">
                                <img src="../assets/estrela.svg" alt="estrela">
                                <img src="../assets/estrela.svg" alt="estrela">
                                <img src="../assets/estrela.svg" alt="estrela">
                                <img src="../assets/estrela.svg" alt="estrela">
                                <img src="../assets/estrela.svg" alt="estrela">
                            </div>
                        </div>
                        <div class="slide">
                            <div class="left-button">
                                <img src="../assets/seta_esquerda.svg" alt="">
                            </div>

                            <div class="right-button">
                                <img src="../assets/seta_direita.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="middle-background">
                    <img src="../assets/elemento_5.svg" draggable="false" alt="">
                </div>

                <div class="title2">
                    <h1>Entre no mundo gastronômico</h1>
                </div>

                <div class="recipe2">
                    <div class="kitchen-option-box">
                        <div class="kitchen-option">
                            <div class="icon-box">
                               <img src="../assets/cozinha.svg" alt=""> 
                            </div>
                            <h2>Cozinha</h2>
                        </div>

                        <div class="kitchen-option">
                            <div class="icon-box">
                              <img src="../assets/patisserie.svg" alt="">  
                            </div>
                            <h2>Patisserie</h2>
                        </div>

                        <div class="kitchen-option">
                            <div class="icon-box">
                                <img src="../assets/drinks.svg" alt="">
                            </div> 
                            <h2>Drinks</h2>
                        </div>
                    </div>

                    <img class="picture" src="../images/patisserie.jpg" alt="">

                </div>


            </section>

            <div class="right-background">
                <div class="pink-circles">
                    <img src="../assets/elemento_7.svg" draggable="false" alt="">
                </div>
                
                <div class="shrimps">
                    <img src="../assets/elemento_6.svg" draggable="false" alt="">
                </div>
            </div>
        </div>

        <footer>

            <div class="footer-bg1">
                <img src="../assets/rodapé_elemento_1.svg" draggable="false" alt="">
            </div>

            <div class="footer-box">
                <div class="copy-box">
                    <img class="cookfy-logo" src="/assets/Logo_Cookfy.svg" alt="Logo Cookfy">
                    <p>©2020 Cookfy
                    </p>
                </div>

                <div class="social-media-box">
                    <a href="https://facebook.com" target="_blank">
                        <span class="icon facebook-icon"></span></a>

                    <a href="https://instagram.com" target="_blank">
                        <span class="icon instagram-icon"></span></a>

                    <a href="https://twitter.com" target="_blank">
                        <span class="icon twitter-icon"></span></a>

                    <a href="https://linkedin.com" target="_blank">
                        <span class="icon linkedin-icon"></span></a>

                    <a href="https://pinterest.com" target="_blank">
                        <span class="icon pinterest-icon"></span></a>
                </div>
            </div>

            <div class="footer-bg2">
                <img src="../assets/rodapé_elemento_2.svg" draggable="false" alt="">
            </div>

        </footer>

        <div class="profile-modal">
            <div class="profile-modal-box">
                <div class="close-button">
                    <img src="../assets/fechar.svg " alt="Botão Fechar">
                    <p>Fechar</p>
                </div>

                <div class="avatar-name-box">
                    <div class="avatar-background">
                        {%if result.gender == 'female'%}
                        <img src="../assets/Avatar_feminino.svg" alt="Avatar">
                        {%else%}
                        <img src="../assets/Avatar_masculino.svg" alt="Avatar">
                        {%endif%}
                    </div>

                    <h3 class="full-name">
                        {{ result.name.first }}
                        {{ result.name.last }}
                    </h3>
                </div>

                <div class="email-box">
                    <img src="../assets/email.svg" alt="ícone email">
                    <p>{{ result.email }}</p>
                </div>

                <div class="phone-box">
                    <img src="../assets/telefone.svg" alt="ícone telefone">
                    <p>{{ result.phone }}</p>
                </div>

                <div class="plan-box">
                    <h2>Plano mensal</h2>
                    <p class="end-day">
                        {# JS random day #}
                    </p>
                    <p>
                        dias restantes
                    </p>
                </div>

                <div class="time-bar-box">
                    <div class="time-bar-background">
                        <div class="time-bar">
                            {# JS random percentage bar #}
                        </div>
                    </div>
                </div>

                <a href="/">
                    <div class="call-to-action">
                        <h3>Assinar plano anual</h3>
                    </div>
                </a>

                <div class="profile-options">
                    <img src="../assets/bug.svg" alt="bug ícone">
                    <a href="/">Reportar bug</a>
                </div>

                <div class="profile-options">
                    <img src="../assets/senha.svg" alt="senha ícone">
                    <a href="/">Alterar senha</a>
                </div>

                <div class="profile-options">
                    <img src="../assets/sair.svg" alt="sair ícone">
                    <a href="/">Sair</a>
                </div>

            </div>
        </div>

        <script src="scripts/profile-modal.js"></script>
    </body>

</html>