<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- SEO optimization -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cookfy - Experimente suas receitas preferidas.">
    <meta property="og:description"
        content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">
    <meta property="og:image" content="https://cookfy.com/images/og-image.png">
    <meta property="og:url" content="https://cookfy.com.br">
    <meta name="description"
        content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">

    <!-- general head settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookfy - Experimente suas receitas preferidas.</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <header>
        header test
    </header>

    <section class="introduction">
        introduction test
    </section>

    <section class="content">
        content test
    </section>

    <footer>
        footer test
    </footer>

    <script src="scripts/script.js"></script>
</body>

</html>