<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {# SEO optimization #}
        <meta property="og:type" content="website">
        <meta property="og:title" content="Cookfy - Experimente suas receitas preferidas.">
        <meta property="og:description" content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">
        <meta property="og:image" content="https://cookfy.com/images/og-image.png">
        <meta property="og:url" content="https://cookfy.com.br">
        <meta name="description" content="Experimente suas receitas preferidas, sem sair de casa. Receitas disponibilizadas pela própria comunidade.">

        {# general head settings #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
            <title>Cookfy - Experimente suas receitas preferidas.</title>
        {% endblock title %}
        
        {% block styles %}
            <link rel="stylesheet" href="styles/main.css">
            <link rel="stylesheet" href="styles/index.css">
        {% endblock styles %}
        
    </head>

    <body>
        {% block header %}
        <header>
            <a href="/"><img class="cookfy-logo" src="/assets/Logo_Cookfy.svg" alt="Cookfy Logo"></a>
            <div class="input-wrapper">
                <form class="input-background" action="">
                    <input type="text" placeholder="Pesquise alguma receita">
                    <button class="search-button" type="submit"><img src="/assets/Lupa.svg" alt="Search Button"></button>
                </form>
            </div>

            <div class="profile-box">
                <p class="profile-name">{{result.name.first}}</p>
                <div class="avatar-background">
                    {%if result.gender == 'female'%}
                        <img src="../assets/Avatar_feminino.svg" alt="Avatar">
                    {%else%}
                        <img src="../assets/Avatar_masculino.svg" alt="Avatar">
                    {%endif%}
                </div>
            </div>
        </header>
        {% endblock header %}

        {% block introduction %}
        {% endblock introduction %}


        {% block content %}
        {% endblock content %}      

        {% block footer %}
        <footer>

            <div class="footer-bg1">
                <div class="footer-bg1-image">
                    {# css bg image #}
                </div>
            </div>

            <div class="footer-box">
                <div class="copy-box">
                    <img class="cookfy-logo" src="/assets/Logo_Cookfy.svg" alt="Logo Cookfy">
                    <p>©2020 Cookfy
                    </p>
                </div>

                <div class="social-media-box">
                    <a href="https://facebook.com" target="_blank">
                        <span class="icon facebook-icon"></span></a>

                    <a href="https://instagram.com" target="_blank">
                        <span class="icon instagram-icon"></span></a>

                    <a href="https://twitter.com" target="_blank">
                        <span class="icon twitter-icon"></span></a>

                    <a href="https://linkedin.com" target="_blank">
                        <span class="icon linkedin-icon"></span></a>

                    <a href="https://pinterest.com" target="_blank">
                        <span class="icon pinterest-icon"></span></a>
                </div>
            </div>

            <div class="footer-bg2">
                <div class="footer-bg2-image"></div>
            </div>

        </footer>
        {% endblock footer %}


        <div class="profile-modal">
            <div class="profile-modal-box">
                <div class="close-button">
                    <img src="../assets/fechar.svg " alt="Botão Fechar">
                    <p>Fechar</p>
                </div>

                <div class="avatar-name-box">
                    <div class="avatar-background">
                        {%if result.gender == 'female'%}
                        <img src="../assets/Avatar_feminino.svg" alt="Avatar">
                        {%else%}
                        <img src="../assets/Avatar_masculino.svg" alt="Avatar">
                        {%endif%}
                    </div>

                    <h3 class="full-name">
                        {{ result.name.first }}
                        {{ result.name.last }}
                    </h3>
                </div>

                <div class="email-box">
                    <img src="../assets/email.svg" alt="ícone email">
                    <p>{{ result.email }}</p>
                </div>

                <div class="phone-box">
                    <img src="../assets/telefone.svg" alt="ícone telefone">
                    <p>{{ result.phone }}</p>
                </div>

                <div class="plan-box">
                    <h2>Plano mensal</h2>
                    <p class="end-day">
                        {# JS random day #}
                    </p>
                    <p>
                        dias restantes
                    </p>
                </div>

                <div class="time-bar-box">
                    <div class="time-bar-background">
                        <div class="time-bar">
                            {# JS random percentage bar #}
                        </div>
                    </div>
                </div>

                <a href="/">
                    <div class="call-to-action">
                        <h3>Assinar plano anual</h3>
                    </div>
                </a>

                <div class="profile-options">
                    <img src="../assets/bug.svg" alt="bug ícone">
                    <a href="/">Reportar bug</a>
                </div>

                <div class="profile-options">
                    <img src="../assets/senha.svg" alt="senha ícone">
                    <a href="/">Alterar senha</a>
                </div>

                <div class="profile-options">
                    <img src="../assets/sair.svg" alt="sair ícone">
                    <a href="/">Sair</a>
                </div>

            </div>
        </div>

        <div class="introduction-modal">
            <div class="introduction-modal-box">
                <div class="introduction-modal-image">
                    <img src="../images/Header.jpg" alt="foto da receita">
                </div>
                <div class="introduction-modal-text">
                    <div class="intro-close-button">
                        <img src="../assets/fechar.svg" alt="">
                    </div>
                    <h3>Ceviche de peixe branco</h3>
                    <h3 class="pink-color">Por Michel Filipe</h3>
                    <p class="text-recipe">
                        O ceviche é um prato de origem peruana feito com cubos de peixe que são cozidos em uma solução ácida, geralmente caldo de limão. Quando o peixe entra em contato com o limão, um processo químico é iniciado: a proteína do peixe se desnatura e a textura do peixe muda, deixando-o mais saboroso. O segredo para fazer um bom ceviche é a qualidade do ingrediente principal: o peixe tem que estar bem fresco. Esse prato peruano pode ser feito com salmão, camarões e alguns contam até com manga e abacate, e o tradicional é preparado com peixe branco. 
                    </p>

                    <div class="buttons-box">
                      <div class="like-button">
                        <img src="../assets/like.svg" alt="">
                        <p>Curtir</p>
                    </div>
                    
                    <div class="see-recipe-button">
                        <img src="../assets/seta_direita.svg" alt="">
                        <a href="https://google.com" target="_blank">Ver receita</a>
                    </div>  
                    </div>
                </div>
            </div>
        </div>

        {% block scripts %}
            <script src="scripts/profile-modal.js"></script>
            <script src="scripts/content.js"></script>
            <script src="scripts/introduction-modal.js"></script>
        {% endblock scripts %}

    </body>

</html>
