:root {
    --color-secondary: #e82147;
    --color-background: #ffdbbc;
    --color-unactive: #969090;
}

/* Introduction Default settings */

.pink-color{
    color: var(--color-secondary);
}

.introduction {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    /* height: fit-content; */
    height: 300px;
    background-color: var(--color-background);
}


/* Content Default settings */

.content {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%px;
}

.title1 {
    display: flex;
    justify-content: center;
    padding: 55px 0;
}

.title1 h1 {
    max-width: 400px;
    text-align: center;
}

.recipe1 {  
    display: flex;
    justify-content: center;
    padding: 45px 0;
    
}

.recipe1 img {
    width: 319px;
}

.text-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 57px;
}

.text-box1 h2 {
    margin-top: 12px;
    max-width: 240px;
}

.difficult {
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    display: flex;
}

.stars img {
    width: 12px;
    margin: 2px;
}

.slide {
    margin-top: 26px;
    display: flex;
}

.left-button {
    width: 40px;
    height: 40px;
    border-radius: 26.5px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
    cursor: pointer;
    transition: 400ms;
}

.left-button:hover {
    background-color: var(--color-secondary);
}

.left-button:hover > .left-arrow-box {
    background-image: url("../assets/Seta_esquerda_active.svg");
}

.left-arrow-box {
    width: 18px;
    height: 18px;
    background-image: url("../assets/Seta_esquerda.svg");
    background-repeat: no-repeat;
}

.right-button {
    width: 40px;
    height: 40px;
    border-radius: 26.5px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}

.right-button:hover {
    background-color: var(--color-secondary);
}

.right-button:hover > .right-arrow-box {
    background-image: url("../assets/Seta_direita_active.svg");
}

.right-arrow-box {
    width: 18px;
    height: 18px;
    background-image: url("../assets/Seta_direita.svg");
    background-repeat: no-repeat;
}

.right-button img {
    width: 8px;
}

.middle-background {
    display: flex;
    justify-content: center;
    margin: 85px 0;
}

.title2 {
    display: flex;
    justify-content: center;
    padding: 35px 0;
}

.title2 h1 {
    text-align: center;
}

.recipe2 {  
    display: flex;
    justify-content: center;
    padding: 45px 0;
    margin-bottom: 167px;
}

.kitchen-option-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.kitchen-option {   
    width: 225px;
    height: 64.5px;
    border: solid 0.5px #f0f0f0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.first-option.selected > .icon-box.kitchen  {
    background-image: url("../assets/Cozinha_active.svg");
}

.first-option.selected {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);
}

.second-option.selected > .icon-box.patisserie  {
    background-image: url("../assets/patisserie_active.svg");
}

.second-option.selected {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);
}

.third-option.selected > .icon-box.drinks  {
    background-image: url("../assets/drinks_active.svg");
}

.third-option.selected {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);
}

.kitchen-option:hover {
    border: 1px solid var(--color-secondary);
    transition: 400ms;
}

.kitchen-option h2 {
    font-size: 20px;
    color: #969090;
    transition: 400ms;
}

.kitchen-option:hover > h2 {
    color: var(--color-secondary);

}

.kitchen-option.selected > h2 {
    color: var(--color-secondary);
}

.icon-box {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 15px auto 35px;
}

.icon-box.kitchen {
    background-image: url("../assets/cozinha.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 400ms;

}

.icon-box.patisserie {
    background-image: url("../assets/Patisserie.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 400ms;

}

.icon-box.drinks {
    background-image: url("../assets/Drinks.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 400ms;

}

.first-option:hover > .icon-box.kitchen {
    background-image: url("../assets/Cozinha_active.svg");
}

.second-option:hover > .icon-box.patisserie {
    background-image: url("../assets/Patisserie_active.svg");
}

.third-option:hover > .icon-box.drinks {
    background-image: url("../assets/drinks_active.svg");
}

.recipe2 .picture {
    width: 319px;
    height: 210px;
}

/* content backgrounds */

.pink-circles {
    display: flex;
    justify-content: center;
}

.pink-circles img {
    width: 100px;
    margin-top: 120px;
}

.shrimps {
    display: flex;
    justify-content: center;
    
}

.shrimps img {
    width: 127px;
    margin-top: 700px;
}

.pink-balls {
    display: flex;
    justify-content: center;
}

.pink-balls img {
    width: 125px;
    margin-top: 620px;
}


/* Content Responsivity settings */

@media (max-width: 1015px) {

    .content {
        grid-template-columns: 15% 70% 15%;
    }
    .pink-circles img {
        width: 80px;
    
    }
    .shrimps img {
        width: 100px;
        
    }
    .pink-balls img {
        width: 90px;
    }


}

@media (max-width: 800px) {
    
    .recipe1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .recipe1 .text-box1 {
        margin: 20px 0 0 0;
        display: flex;
        align-items: center;
    }

    .recipe2 {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .recipe2 .kitchen-option-box {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 600px) {

    .content {
        grid-template-columns: 1fr;
    } 

    .left-background, .right-background {
        display: none;
    }

    .middle-background {
        margin: 20px 0;
    }

    .recipe2 {
        margin-bottom: 30px;
    }
}

@media (max-width: 380px) {
    .recipe1 .picture, .recipe2 .picture {
        width: 250px;
        height: 130px;
    }

    .title1 h1, .title2 h1 {
        max-width: 270px;
    }

}

@media (max-width: 340px) {
    .footer-bg1, .footer-bg2 {
        display: none;
    }

}